<div class="home">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-speed="0.8">
			<img src="{{assetsUrl('images/backg.jpg')}}" alt="" class="img-fluid">
				<div class="btnbg">
				</div>
		</div>
		<div class="home_container d-flex flex-column align-items-center justify-content-center">
			<div class="home_content">
				<div class="home_title"><h1>episodes</h1></div>
			</div>
		</div>
	</div>
	