<!DOCTYPE html>
<html lang="en">
<head>
@include('layout.head')
@!section('head')
</head>

<body>

<div class="super_container">

	<!-- Header -->

	@include('layout.header')

	<!-- Menu -->
	@include('layout.menu')
	

	<!-- Shows -->

	@!section('content')

	<!-- Footer -->

	@include('layout.footer')
</div>

@include('layout.script')

@!section('script')
<script>
	console.log('%c The King Of Hacker ! ', 'background: #222; color: #bada55; font-size:40px');
	console.log('%c oh nooooo.... =((', 'color: #ff0000');
</script>
</body>
</html>